<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="MainBoundContext" providerName="System.Data.SqlClient" connectionString="Data Source=.;User=sa;Password=987654321; Initial Catalog=ezRich" />
  <add name="LocalDbContext" connectionString="data source=|DataDirectory|\ezRichDb.sqlite;foreign keys=true" providerName="System.Data.SQLite" />
</connectionStrings>